<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:display="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>

    <meta charset="UTF-8">
    <title>users info</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <style>
        .navbar{
            color: white;
        }
    </style>
</head>
<body>

<!--  ГЛАВНАЯ НАВИГАЦИОННАЯ ПАНЕЛЬ    -->

<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <div>
            <span class="navbar-text text-white font-weight-bold"  th:text="${currentUser.getEmail()}"></span>
            <span class="navbar-text text-white">with roles:</span>
            <span class="navbar-text text-white" th:text="${currentUser.getRolesInfo()}"></span>
        </div>
        <form th:action="@{/logout}" method="post">
            <button type="submit" class="btn btn-dark">Logout</button>
        </form>
    </div>
</nav>


<div class="container-fluid bg-light">

    <div class="row">
        <div class="col-2 bg-white pt-3 min-vh-100 px-0">
            <div class="container-fluid px-0">
                <ul class="nav flex-column nav-pills ">
                    <div sec:authorize="hasRole('ADMIN')">
                        <li class="nav-item" >
                            <a class="nav-link"  href="/admin">Admin</a>
                        </li>
                    </div>

                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/user">User</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-10">

            <br>
            <h1>User information-page</h1>
            <br>
            <div class="card">
                <div class="card-block">

                    <div class="col border bg-light">
                        <h4 style="padding: 10px 10px 10px 15px">About user</h4>
                    </div>
                    <div class="container-fluid border bg-white py-3 px-4">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Age</th>
                                <th>Email</th>
                                <th>Role</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td th:text="${currentUser.getId}"></td>
                                <td th:text="${currentUser.getFirstName}"></td>
                                <td th:text="${currentUser.getLastName}"></td>
                                <td th:text="${currentUser.getAge}"></td>
                                <td th:text="${currentUser.getEmail}"></td>
                                <td th:text="${currentUser.getPassword}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
</div>
</body>